extends ../_template
block variables
  - var title = 'Armed'
block content
  .wrapper.visuallyhidden
    include ../blocks/header
    include ../blocks/info
    include ../blocks/products
  
    
  
     


       
    

