//- Список навигации
- 
  var nav = [
    {
      link: '#',
      title: 'Юридическим лицам' 
    },{
      link: '#',
      title: 'Магазины' 
    },{
      link: '#',
      title: 'Информация' 
    }
  ]

