.products {
    width: 100%;
    height: rem(760px);
    display: flex;
    font-family: 'Rubik', sans-serif;
}

.products__left {
    width: 25%;
    height: 100%;
}

.products__quartz {
    width: 100%;
    height: 100%;
    padding: rem(20px);
    padding-top: rem(55px);
    background: url("../img/quartzbg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

    .products__details {
        position: relative;
        font-weight: 500;
        font-size: rem(20px);
        text-transform: uppercase;
        color: #fff;

        &:after {
            content: "";
            height: rem(2px);
            background-color: #fff;
            position: absolute;
            left: 51%;
            right: 51%;
            top: 102%;
            transition: .3s;
        }

        &:hover {
            &:after {
                left: 0;
                right: 0;
            }
        }
    }
}

.products__quartz-block {
    display: flex;
    align-items: center;
    width: 100%;
    height: rem(604px);
    margin-bottom: rem(40px);
}

.products__quartz-img {
    width: rem(124px);
    height: rem(604px);
    max-width: 30%;
    flex-shrink: 0;
    @include center;
}

.products__quartz-pic {
    width: 100%;
    max-height: 100%;
}

.products__quartz-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: rem(10px);
}

.products__quartz-title {
    font-weight: 700;
    font-size: rem(30px);
    color: #fff;
    text-transform: uppercase;
    margin-bottom: rem(20px);
}

.products__quartz-desc {
    font-weight: 500;
    font-size: rem(20px);
    color: #fff;
    text-align: center;

    span {
        font-size: rem(25px);
    }
}

.products__right {
    width: 75%;
    height: 100%;
}

.products__row {
    width: 100%;
    height: 50%;
    display: flex;
}

.products__elly {
    width: 33.3%;
    height: 100%;
    padding: rem(10px);
    padding-top: rem(20px);
    padding-bottom: rem(35px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .products__details {
        font-weight: 500;
        font-size: rem(20px);
        text-transform: uppercase;
        color: #41ADA7;
        position: relative;

        &:after {
            content: "";
            height: rem(2px);
            background-color: #41ADA7;
            position: absolute;
            left: 51%;
            right: 51%;
            top: 102%;
            transition: .3s;
        }

        &:hover {
            &:after {
                left: 0;
                right: 0;
            }
        }
    }
}

.products__elly-title {
    font-weight: 500;
    font-size: rem(30px);
    margin-bottom: rem(10px);
    color: #41ADA7;
}

.products__elly-text {
    font-weight: 400;
    font-size: rem(20px);
    margin-bottom: rem(10px);
    color: #828282;
    text-align: center;
    max-width: 350px;
}

.products__wheelchair {
    width: 66.6%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .products__details {
        font-weight: 500;
        font-size: rem(20px);
        text-transform: uppercase;
        color: #6C8FD3;
        position: relative;

        &:after {
            content: "";
            height: rem(2px);
            background-color: #6C8FD3;
            position: absolute;
            left: 51%;
            right: 51%;
            top: 102%;
            transition: .3s;
        }

        &:hover {
            &:after {
                left: 0;
                right: 0;
            }
        }
    }
}

.products__wheelchair-text {
    padding-left: rem(35px);
    padding-bottom: rem(35px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.products__wheelchair-title {
    font-weight: 500;
    font-size: 30px;
    color: #4F4F4F;
    margin-bottom: rem(20px);
    text-transform: uppercase;

    span {
        color: #6C8FD3;
    }
}

.products__wheelchair-price {
    font-weight: 400;
    font-size: rem(24px);
    margin-bottom: rem(90px);

    span {
        &:first-child {
            font-size: rem(20px);
            color: #BDBDBD;
            text-decoration: line-through;
            white-space: nowrap;
        }

        &:last-child {
            font-size: rem(30px);
            color: #6C8FD3;
            font-weight: 500;
            white-space: nowrap;
        }
    }
}

.products__wheelchair-img {
    padding-right: rem(50px);
    display: flex;
    align-items: flex-end;
    height: 100%;
    max-width: 50%;
   
}

.products__wheelchair-pic {
    width: 100%;
    max-height: 100%;
}

.products__oxygen {
    position: relative;
    width: 66.6%;
    height: 100%;
    padding-bottom: rem(35px);
    background: url("../img/oxygenbg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    .products__details {
        position: relative;
        font-weight: 500;
        font-size: rem(20px);
        text-transform: uppercase;
        color: #fff;

        &:after {
            content: "";
            height: rem(2px);
            background-color: #fff;
            position: absolute;
            left: 51%;
            right: 51%;
            top: 102%;
            transition: .3s;
        }

        &:hover {
            &:after {
                left: 0;
                right: 0;
            }
        }
    }
}

.products__oxygen-pic1 {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 45%;
}

.products__oxygen-pic2 {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 30%;
}

.products__oxygen-text {
    padding-left: 40%;
    padding-right: 10%;
    padding-top: rem(70px);
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-start;
}

.products__oxygen-title {
    font-weight: 700;
    font-size: rem(26px);
    margin-bottom: rem(10px);
}

.products__oxygen-desc {
    font-weight: 500;
    font-size: rem(20px);
    margin-bottom: auto;
}

.products__wash {
    width: 33.3%;
    height: 100%;
    padding: rem(10px);
    padding-top: rem(20px);
    padding-bottom: rem(35px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .products__details {
        font-weight: 500;
        font-size: rem(20px);
        text-transform: uppercase;
        color: #FFD19C;
        position: relative;

        &:after {
            content: "";
            height: rem(2px);
            background-color: #FFD19C;
            position: absolute;
            left: 51%;
            right: 51%;
            top: 102%;
            transition: .3s;
        }

        &:hover {
            &:after {
                left: 0;
                right: 0;
            }
        }
    }
}
.products__wash-title {
    font-weight: 500;
    font-size: rem(24px);
    color:#FFD19C;
    margin-bottom: rem(10px);
    text-transform: uppercase;
}

.products__wash-text {
    font-weight: 400;
    font-size: rem(20px);
    margin-bottom: rem(10px);
    color: #828282;
    text-align: center;
    max-width: 400px;
    span {
        white-space: nowrap;
        font-weight: 500;
        font-size: rem(23px);
        color:#FFD19C;
    }
}