section.info
    .info__text
        .info__title Кислородные Концентраторы Армед
        .info__subtitle Узнайте о современном методе поддержки здоровья
    .info__buttons
        a.info__more(href="") Узнать больше
        a.info__catalog(href="") Перейти в каталог