html,
body {
  width: 100%;
}

html {
  font-size: 16px;
  @include tablets {
    font-size: 15px;
  }
  @include phones {
    font-size: 14px;
  }
  @include mini {
    font-size: 13px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  font-size: rem(14px);
 color:#828282;
}

// .body_block {
//   overflow: hidden;
// }

.wrapper {
  width: 100%;
  position: relative;
  min-width: 320px;
  overflow: hidden;
 
 
}





