html,
body {
  width: 100%;
}

html {
  font-size: 16px;
  @include laptop {
    font-size: .9rem;
  }
  @include tablets {
    font-size: .85rem;
  }
  @include phones {
    font-size: .8rem;
  }
  @include mini {
    font-size: .7rem;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  font-size: rem(14px);
 color:#828282;
}

// .body_block {
//   overflow: hidden;
// }

.wrapper {
  width: 100%;
  position: relative;
  min-width: 240px;
 
 
}





